.promo {
  min-height: 524px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3c1f8;
  padding-bottom: 40px;
}

.promo__title {
  max-width: 730px;
  text-align: center;
}

.promo__image {
  position: absolute;
}

@media (max-width: 992px) {
  .promo {
    min-height: 785px;
    padding: 0;
    padding-bottom: 14px;
  }
}

@media (max-width: 576px) {
  .promo {
    min-height: 570px;
    padding: 0 10px;
    padding-bottom: 40px;
  }

  .promo__image {
    max-width: 248px;
    object-fit: cover;
  }
}
