.nav-tab {
  background-color: #000;
}

.nav-tab__items {
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-tab__item {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .nav-tab__items {
    gap: 24px;
  }

  .nav-tab__item {
    font-size: 11px;
  }
}
