.about-me {
  background-color: #fff;
  padding-top: 111px;
  padding-bottom: 100px;
}

.about-me__title {
}

.about-me__section {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  min-height: 327px;
}

.about-me__section-item {
  display: flex;
  flex-direction: column;
}

.about-me__subtitle {
  margin-bottom: 18px;
}

.about-me__text {
  max-width: 600px;
  line-height: 22px;
}
.about-me__text:first-of-type {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 26px;
}

.about-me__link {
  margin-top: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.about-me__avatar {
  max-width: 270px;
  aspect-ratio: 1.2/1;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .about-me {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about-me__section {
    min-height: 307px;
  }

  .about-me__subtitle {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text:first-of-type {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
  }

  .about-me__avatar {
    max-width: 255px;
  }
}

@media (max-width: 576px) {
  .about-me {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .about-me__section {
    margin-top: 60px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 40px;
  }

  .about-me__subtitle {
    font-size: 30px;
    line-height: 1.21;
    margin-bottom: 20px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text:first-of-type {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__link {
    margin-top: 40px;
  }

  .about-me__avatar {
    max-width: 100%;
    min-height: 352px;
  }
}
