.filter-checkbox {
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: end;
  font-size: 13px;
}

.filter-checkbox__button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
  min-width: 36px;
  min-height: 20px;
}

.filter-checkbox__icon {
  margin-right: 13px;
}

@media (max-width: 992px) {
  .filter-checkbox {
    padding: 0 20px;
    align-items: center;
    justify-content: end;
    font-size: 13px;
  }

  .filter-checkbox__button {
    width: auto;
  }
}

@media (max-width: 576px) {
  .filter-checkbox {
    position: absolute;
    top: 120px;
    left: 58px;
    margin: 0 auto;
    font-size: 11px;
  }
}
