.footer {
  padding-top: 84px;
  padding-bottom: 20px;
}

.footer__title {
  text-align: center;
  font-size: 13px;
  line-height: 1.21;
  color: #a0a0a0;
  border-color: #e8e8e8;
  letter-spacing: normal;
  padding-bottom: 20px;
}

.footer__columns {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 13px;
}

.footer__social-icon {
  display: flex;
  gap: 20px;
}

.footer__link {
  font-size: 13px;
}

@media (max-width: 992px) {
  .footer {
    padding-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .footer__title,
  .footer__copyright,
  .footer__link {
    font-size: 12px;
  }

  .footer__columns {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .footer__social-icon {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
